html, body{
    /*background-color: #408ec6;*/
    margin: auto;
    height: 100%;
    border: 5px solid black;
    background: beige;
}

h1{
    background-blend-mode: normal;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: xxx-large;
}


input[type=submit] {
    background-color: #0066A2;
    color: white;
    margin-top: 12px;
    padding: 12px 20px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}



form {
    display: grid;
    padding: 20px 20px 20px 500px;
    background: rgba(183, 183, 52, 0.65);
    /*border: 1px solid #c1c1c1;*/
    margin: 2rem auto 0 auto;
    max-width: 700px;

}


form input {
    background: #fff;
    /*border: 1px solid #9c9c9c;*/
}
/*form button {*/
/*    background: lightgrey;*/
/*    padding: 0.7em;*/
/*    width: 100%;*/
/*    border: 0;*/
/*}*/
form button:hover {
    background: gold;
}

label {
    padding: 0.5em 0.5em 0.5em 0;
}

input {
    padding: 0.7em;
    margin-bottom: 30px;
}
input:focus {
    outline: 3px solid gold;
}

@media (min-width: 400px) {
    form {
        grid-template-columns: 200px 1fr;
        grid-gap: 16px;
    }

    label {
        text-align: right;
        grid-column: 1 / 2;
    }

    input,
    button {
        grid-column: 2 / 3;
    }
}

.title{

}
