body{
    /*background-color: #408ec6;*/
    margin: auto;
    border: 5px solid black;
    height: 100%;

    background: beige;
}

h1{
    background-blend-mode: normal;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: xxx-large;
}

/*form{*/
/*   text-align: center;*/
/*}*/


/*input[type=text], select, textarea {*/
/*    width: 80%;*/
/*    padding: 20px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*    resize: vertical;*/
/*}*/

/*.label {*/
/*    float: left;*/
/*    width: 25%;*/
/*    margin-top: 6px;*/
/*}*/

/*.input {*/
/*    float: left;*/
/*    width: 75%;*/
/*    margin-top: 6px;*/
/*}*/

/*label {*/
/*    padding: 15px 12px 12px;*/
/*    display: inline-block;*/
/*}*/


/*input[type=submit]:hover {*/
/*    background-color: #0046a2;*/
/*}*/

/*form {*/
/*    overflow: hidden;*/
/*}*/

/*label {*/
/*    float: left;*/
/*    width: 200px;*/
/*    padding-right: 24px;*/
/*    padding-bottom: 24px;*/
/*}*/

/*input {*/
/*    float: left;*/
/*    width: calc(100% - 200px);*/
/*    padding: 25px;*/
/*}*/

form {
    display: grid;
    padding: 20px 20px 20px 500px;
    background: #f9f9f9;
    /*border: 1px solid #c1c1c1;*/
    margin: 2rem auto 0 auto;
    max-width: 700px;
    /*margin-left: 100px;*/


}
form input {
    background: #fff;
    border: 1px solid #9c9c9c;
}
/*form button {*/
/*    background: lightgrey;*/
/*    padding: 0.7em;*/
/*    width: 100%;*/
/*    border: 0;*/
/*}*/
form button:hover {
    background: gold;
}

label {
    padding: 0.5em 0.5em 0.5em 0;
}

input {
    padding: 0.7em;
    margin-bottom: 30px;
}
input:focus {
    outline: 3px solid gold;
}

input[type=submit] {
    background-color: #0066A2;
    color: white;
    margin-top: 12px;
    padding: 12px 20px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

@media (min-width: 400px) {
    form {
        grid-template-columns: 200px 1fr;
        grid-gap: 16px;
    }

    label {
        text-align: right;
        grid-column: 1 / 2;
    }

    input,
    button {
        grid-column: 2 / 3;
    }
}

.title{
    margin-right: 100px;
}
