html, body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #00001c;
}

h2{
    text-decoration: underline;
}


.fullwidth {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: bisque;
}

.allleft {
    text-align: left;
}

.tempverytall {
    height: max-content;
}

#navbar{
    background-color: burlywood;
    margin-bottom: 2em;
    padding: .5em 0;
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-between;
    border-bottom: .1rem solid black ;
    padding: .1em;
    margin-bottom: .1em;
    align-items: center;
    border-radius: .5em;
}

p{
    margin-bottom: .1em;
}

input{
    margin-bottom: .5rem;
}

.customButton{
    font-size: .7rem;
    border-radius: .2em;
}

.customButton:hover{
    transform: scale(1.1);
    background-color: #f36767;
}

.footer{
    display: flex;
    align-items: center;
    background-color: burlywood;
    height: 5vh;
}
.icons{
    display: flex;
    justify-content: right;
    margin-right: 1em;
    font-size: 2rem;
}
i{
    margin-left: 0.5em;
}

.userInfo{
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
    height: max-content;
}


/*Links CSS*/
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}

/*Logo CSS*/
.stack{
    font-size: 1.5rem;
    font-weight: bolder;
}
.fellows{
    font-size: 1.5rem;
    font-weight: bolder;
    color: orangered;
}
.logo{
    display: flex;
    align-items: center;
}

.logoutCont{
    display: flex;
    justify-content: right;
    align-items: center;
}
.logoutButton{
    width: max-content;
    height: max-content;
    padding: .2em;
    border-radius: .3em;
    background-color: orangered;
}

