<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/index.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Home</h1>


<form action="/postquestions" method="post" >
    <fieldset>
        <legend>Add a Post</legend>
        <div class="label">
            <label for="title">Title</label>
        </div>
        <div class="input">
            <input type="text" name="title" id="title">
        </div>
        <div class="label">
            <label for="body">Body</label>
        </div>
        <div class="input">
            <input type="text" name="body" id="body">
        </div>

        <input type="submit" value="submit">
    </fieldset>
</form>


<div th:if="${posts != null}">
    <h3>List of all blog posts</h3>
    <ul th:each="post: ${posts}">
        <li th:text="${post.title} + ': ' + ${post.body}">post</li>
    </ul>
</div>

<a href="/logout">Log Out</a>
</body>
</html>