<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Profile</title>
</head>
<body>
<a href="/index">Home</a>

<!--User Info Block-->
<!--<p th:text="${sessionUsername}"></p>-->
<!--<p th:text="${user.username}"></p>-->
<p th:text="${user.firstName}"></p>
<p th:text="${user.lastName}"></p>
<p th:text="${user.isAlum}"></p>
<p th:text="${user.email}"></p>
<p th:text="${user.bio}"></p>

<!--List of Posts-->
<h2>My Posts</h2>
<ul th:each="post : ${postList}">
    <a th:href="'/blogpost/' + ${post.id}" th:text="${post.title}"></a>
<!--    <li th:text="${post.body }"></li>-->
    <form action="/deletePost" th:method="delete">
        <input type="hidden" th:value="${post.id}" name="id" id="postid">
        <input type="submit" value="Delete">
    </form>
</ul>

<!--List of Comments-->
<h2>My Comments</h2>
<ul th:each="comment : ${commentList}">
    <a th:href="'/blogpost/' + ${comment.post.id}" th:text="${comment.body}"></a>
    <form action="/deleteComment" th:method="delete">
        <input type="hidden" th:value="${comment.id}" name="id" id="commentid">
        <input type="submit" value="Delete">
    </form>
</ul>

<!--Form to Update User Info-->
<form action="/updateAccount" th:method="put">
    <fieldset>
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" required>

        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" required>

        <label for="email">Email</label>
        <input type="text" name="email" id="email" required>

        <label for="isAlum">are you a Code Fellows Alum?</label>
        <input type="checkbox" name="isAlum" id="isAlum">

        <label for="bio">bio</label>
        <input type="text" name="bio" id="bio" required>

        <input type="submit" value="Update">
    </fieldset>
</form>

</body>
</html>